<% if current_user %>
  <li class="nav-bar-user"><%= "Welcome back, #{current_user.roleable.full_name} (#{current_user.roleable.class.name.capitalize})" %></li>
  <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
<% else %>
  <li><%= link_to 'Log in', new_user_session_path %></li>
<% end %>
